<%= render "shared/banner" %>


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Eventbrite</h1>
  <p class="lead">All the events in Eventbrite. Stay tuned!</p>
</div>

<div class="row justify-content-center">
  <a class="btn btn-success btn-lg" <%= link_to "Create New Event", new_event_path %></a>
</div> <br><br>


<%= render "card_events" %>
